name: mediaserver

services:
    navidrome:
      image: deluan/navidrome:latest
      container_name: navidrome
      ports:
        - "4533:4533"
      environment:
        - ND_DATAFOLDER=/data
        - ND_CONFIGFILE=/config/navidrome.toml
      volumes:
        - ${NAVIDROME_DATA}:/data
        - "${NAVIDROME_CONFIG}:/config/navidrome.toml:ro"
        - "${VOLUME_MUSIC_LIBRARY_FOLDER}:/music:r"
      restart: unless-stopped
      networks:
        - mediaserver-network

    jellyfin:
      image: jellyfin/jellyfin:latest
      container_name: jellyfin
      # user: uid:gid
      ports:
        - 8096:8096/tcp
        - 7359:7359/udp
      environment:
        - JELLYFIN_PublishedServerUrl=https://serverino-polpettino.tailb15f1c.ts.net/jellyfin
      volumes:
        - jellyfin-config:/config
        - jellyfin-cache:/cache
        - "${VOLUME_MOVIES_FOLDER}:/movies:ro"
        - "${VOLUME_SHOWS_FOLDER}:/shows:ro"
      restart: unless-stopped
      networks:
        - mediaserver-network

    slskd:
      image: slskd/slskd
      container_name: slskd
      ports:
        - "5030:5030"
        - "5031:5031/tcp"
        - "50300:50300/tcp"
      environment:
        - SLSKD_REMOTE_CONFIGURATION=true
        - SLSKD_SLSK_USERNAME=${SLSKD_SOULSEEK_USERNAME}
        - SLSKD_SLSK_PASSWORD=${SLSKD_SOULSEEK_PASSWORD}
        - SLSKD_USERNAME=${SLSKD_WEB_USERNAME}
        - SLSKD_PASSWORD=${SLSKD_WEB_PASSWORD}
      volumes:
        - ${SLSKD_DATA}:/app
        - ${SLSKD_INCOMPLETE}:/app/incomplete
        - "${SLSKD_CONFIG}:/app/slskd.yml:ro"
        - "${VOLUME_MUSIC_DOWNLOAD_FOLDER}:/app/downloads:rw"
        - "${VOLUME_MUSIC_LIBRARY_FOLDER}:/music:ro"
      restart: unless-stopped
      networks:
        - mediaserver-network

    qbittorrent:
      image: lscr.io/linuxserver/qbittorrent:latest
      container_name: qbittorrent
      environment:
        - PUID=1000
        - PGID=1000
        - TZ=Etc/UTC
        - WEBUI_PORT=8080
        - QBITTORRENT_SHOWS_FOLDER=${QBITTORRENT_SHOWS_FOLDER}
        - QBITTORRENT_MOVIES_FOLDER=${QBITTORRENT_MOVIES_FOLDER}
      volumes:
        - ${QBITTORRENT_CONFIG}:/config        
        - "${VOLUME_TORRENT_FOLDER}:${QBOTTORRENT_DOWNLOADS_FODLER}"
        - "${VOLUME_MOVIES_FOLDER}:${QBITTORRENT_MOVIES_FOLDER}"
        - "${VOLUME_SHOWS_FOLDER}:${QBITTORRENT_SHOWS_FOLDER}"
      ports:
        - "8080:8080"
        - "6881:6881"
        - "6881:6881/udp"
      restart: unless-stopped
      networks:
        - mediaserver-network

    sonarr:
      image: lscr.io/linuxserver/sonarr:latest
      container_name: sonarr
      environment:
        - PUID=1000
        - PGID=1000
        - TZ=Etc/UTC
      volumes:
        - ${SONARR_CONFIG}:/config
        - ${VOLUME_SHOWS_FOLDER}:/tv 
        - ${VOLUME_TORRENT_FOLDER}:/downloads 
      ports:
        - 8989:8989
      restart: unless-stopped
      networks:
        - mediaserver-network

    prowlarr:
      image: lscr.io/linuxserver/prowlarr:latest
      container_name: prowlarr
      environment:
        - PUID=1000
        - PGID=1000
        - TZ=Etc/UTC
      volumes:
        - ${PROWLARR_CONFIG}:/config
      ports:
        - 9696:9696
      restart: unless-stopped
      networks:
        - mediaserver-network

    radarr:
      image: lscr.io/linuxserver/radarr:latest
      container_name: radarr
      environment:
        - PUID=1000
        - PGID=1000
        - TZ=Etc/UTC
      volumes:
        - ${RADARR_CONFIG}:/config
        - ${VOLUME_MOVIES_FOLDER}:/movies
        - ${VOLUME_TORRENT_FOLDER}:/downloads 
      ports:
        - 7878:7878
      restart: unless-stopped
      networks:
        - mediaserver-network

    caddy:
      build:
        context: .
        dockerfile: Dockerfile.caddy
      container_name: caddy
      restart: unless-stopped
      ports:
        - "80:80"
        - "443:443"
      environment:
        - TS_AUTHKEY=${TS_AUTHKEY}
      volumes:
        - ./Caddyfile:/etc/caddy/Caddyfile:ro
        - caddy_data:/data
        - ./certs/full-chain.crt:/certs/full-chain.crt:ro
        - ./certs/private.key:/certs/private.key:ro
      networks:
        - mediaserver-network
      depends_on:
        - navidrome
        - jellyfin
        - slskd
        - qbittorrent

volumes:
    jellyfin-config:
    jellyfin-cache:
    caddy_data:

networks:
    mediaserver-network:
      driver: bridge
